@import "Variables.scss";
@import "Color.scss";
@import "Mixin.scss";

.container {
  @include setSize(100%, auto);
  position: relative;
  top: $header-height;
  left: 0;
  &-header {
    @include setSize(100%, 80rem);
    background: #e7eaef;
    &-box {
      @include setSize(100%, 20rem);
      position: relative;
      &-content {
        @include setSize(50%, 60%);
        @include absolutely_Center();
        text-align: center;
        h1 {
          font-size: 2.5rem;
          font-weight: 450;
        }
        h2 {
          font-weight: 450;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.6rem;
          margin-top: 1rem;
        }
      }
    }
    &-bgr {
      @include setSize(100%, 60rem);
      overflow: hidden;
      img {
        @include setSize();
        object-fit: contain;
        transform: scale(1.3);
        margin-left: 8rem;
      }
    }
  }
  &-color {
    @include setSize(100%, 80rem);
    background: white;
    &-box {
      @include setSize(100%, 20rem);
      position: relative;
      &-content {
        @include setSize(50%, 50%);
        @include absolutely_Center();
        text-align: center;
        h1 {
          font-weight: 450;
          font-size: 2.3rem;
        }
        h2 {
          font-size: 2rem;
          margin-top: 1rem;
        }
      }
    }
    &-bgr {
      @include setSize(100%, 60rem);
      img {
        @include setSize();
        object-fit: contain;
      }
    }
  }
  &-multimedia {
    @include setSize(100%, 80rem);
    &-box {
      @include setSize(100%, 20rem);
      position: relative;
      &-content {
        @include setSize(50%, 50%);
        @include absolutely_Center();
        text-align: center;
        h1 {
          font-weight: 450;
          font-size: 2.5rem;
        }
        h3 {
          margin-top: 1rem;
          font-size: 1.5rem;
        }
      }
    }
    &-bgr {
      @include setSize(100%, 60rem);
      position: relative;
      &::before {
        content: "6.5'', Super Retina XDR";
        @include setSize(8rem, 5rem);
        font-size: 2rem;
        @include absolutely_Center(15%, 15%);
        color: $lite-gray;
        transform: rotate(-10deg);
      }
      &::after {
        content: "6.1'', Liquid Retina";
        @include setSize(8rem, 5rem);
        font-size: 2rem;
        @include absolutely_Center(15%, 80%);
        color: black;
        transform: rotate(-10deg);
      }
      img {
        @include setSize();
        object-fit: cover;
      }
    }
  }
  &-faceID,
  &-frontCam,
  &-rearCam {
    @include setSize(100%, 100rem);
    background: lavenderblush;
    &-box {
      @include setSize(100%, 30rem);
      position: relative;
      &-content {
        @include setSize(53%, 40%);
        @include absolutely_Center();
        text-align: center;
        h1 {
          font-weight: 450;
          font-size: 2.5rem;
        }
        h3 {
          margin-top: 1rem;
          font-size: 1.5rem;
        }
      }
    }
    &-bgr {
      @include setSize(100%, 70rem);
      img {
        @include setSize();
        object-fit: cover;
      }
    }
  }
  &-frontCam {
    &-box {
      &-content {
        position: relative;
        height: 60%;
        &::before {
          content: "";
          @include setSize(6rem, 6rem);
          @include absolutely_Center(80%);
          border: 2px solid $wood-gray;
          border-radius: 50%;
          background: $wood-gray;
        }
        &::after {
          content: "";
          @include setSize(6rem, 6rem);
          @include absolutely_Center(78%, 51.5%);
          border-radius: 50%;
          background: #fff0f5;
        }
      }
    }
  }
}
