@import "Variables.scss";
@import "Color.scss";
@import "Mixin.scss";

.noItem {
  position: relative;
  top: $header-height;
  left: 0;
  @include setSize(100%, 20rem);
  border-bottom: 1px solid $wood-gray;
  &-content {
    @include setSize(38rem, 12rem);
    position: absolute;
    top: 10%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-weight: 500;
      font-size: 2.5rem;
    }
    p {
      font-size: 1.3rem;
    }
    &-option {
      @include setSize(100%, 40%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        @include reset_A_Tag();
        display: inline-block;
        @include setSize(48%, 83%);
        background-color: $cadet-blue;
        border-radius: 0.8rem;
        font-size: 1.3rem;
        color: white;
        text-align: center;
        line-height: 300%;
        &:hover {
          background: $light-blue;
        }
        &:last-child {
          background-color: lavender;
          opacity: 0.8;
          color: black;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.suggestion {
  @include setSize(100%, 3rem);
  position: relative;
  top: $header-height;
  text-align: center;
  strong {
    font-size: 1.25rem;
    line-height: 4rem;
  }
}

.demoCart {
  @include setSize(100%, auto);
  position: relative;
  top: $header-height;
  display: flex;
  flex-direction: column;
  &-listItem {
    @include setSize(100%);
    padding: 0 20%;
    display: flex;
    font-size: 0rem;
    flex-direction: column;
    justify-content: flex-start;
    &.active {
      font-size: 1rem;
      padding-top: 1rem;
    }
    &-item {
      @include setSize(100%, 12em);
      padding: 0.8em;
      display: flex;
      flex-wrap: wrap;
      font-size: 1em;
      opacity: 0;
      visibility: hidden;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1em solid $vest-gray;
      transition: 0.3s;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      &-info {
        @include setSize(80%, 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        &-img {
          background: white;
          img {
            @include setSize(10.2em, 100%);
            object-fit: contain;
          }
        }
        &-detail {
          @include setSize(30em, 100%);
          padding: 0 2em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &-top {
            @include setSize(100%, 48%);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-name {
              h2 {
                font-weight: 500;
                font-size: 1.5em;
              }
            }
            &-color,
            &-price {
              strong {
                font-size: 1.1em;
              }
            }
          }
          &-bot {
            @include setSize(100%, 52%);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &-storage,
            &-quantity {
              @include setSize(50%, 100%);
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              justify-content: space-evenly;
              p {
                font-size: 1.1em;
              }
            }
            &-storage {
              figure {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                input {
                  display: none;
                }
                label {
                  display: inline-block;
                  @include setSize(4em, 2.5em);
                  background: white;
                  border-radius: 0.3em;
                  text-align: center;
                  line-height: 2.5em;
                  cursor: pointer;
                  box-shadow: 0 0 5px $leaf-gray;
                  transition: 0.2s;
                  &:hover {
                    box-shadow: 1px 1px 5px $thin-gray;
                  }
                }
                .phoneSto {
                  background: $light-blue;
                  color: white;
                  &.active {
                    background: white;
                  }
                }
              }
            }
            &-quantity {
              figure {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                  @include setSize(1.5em, 1.5em);
                  object-fit: contain;
                  cursor: pointer;
                  border-radius: 50%;
                  transition: 0.2s;
                  background: white;
                  &:hover {
                    background: $light-gray;
                  }
                  &.active {
                    pointer-events: none;
                    opacity: 0.3;
                  }
                }
                input {
                  @include reset_Input_Text();
                  border-radius: 0.2em;
                  @include setSize(7.5em, 2em);
                  text-align: center;
                  font-size: 1.2em;
                  border: 0.1em solid $leaf-gray;
                  position: relative;
                }
              }
            }
          }
        }
      }
      &-price {
        @include setSize(9.5em, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          strong {
            font-size: 1.2em;
            font-weight: 500;
          }
        }
        button {
          @include setSize(100%, 3.3em);
          border: none;
          outline: none;
          background: white;
          border-radius: 0.3em;
          cursor: pointer;
          transition: 0.1s;
          font-size: 0.95em;
        }
        .deletePrd {
          background: #c50837;
          opacity: 0.9;
          &:hover {
            opacity: 1;
          }
        }
        .phonePayment {
          background: #28a745;
          color: white;
          opacity: 0.9;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  &-expand {
    @include setSize(100%, 3rem);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      @include setSize(1.875rem, 1.875rem);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      transition: 0.3s;
      cursor: pointer;
      position: relative;
      animation: moving 0.8s linear infinite;
      @keyframes moving {
        0%,
        100% {
          top: 0;
        }
        50% {
          top: 0.5rem;
        }
      }
      &:hover {
        animation-play-state: paused;
      }
      &.active {
        img {
          transform: rotate(180deg);
        }
      }
      img {
        @include setSize(100%, 100%);
        object-fit: cover;
        transition: 0.3s;
      }
    }
  }
}
