$lite-gray: #fafafa;
$light-gray: #d4dde0;
$ocean-blue: #0037b7;
$sky-blue: #1595eb;
$light-blue: #057ca0;
$lite-blue: rgb(21, 211, 245);
$apple-pink: #e20d66;
$wood-gray: #181818;
$vest-gray: #313639;
$cadet-blue: #009e89;
$van-red: #d8144f;
$leaf-gray: #989699;
$thin-gray: #e3e1e6;
$st-green: #28a745;
