@import "Variables.scss";
@import "Color.scss";
@import "Mixin.scss";

.container {
  width: 100%;
  height: 55rem;
  position: relative;
  top: $header-height;
  left: 0;
  &-title {
    width: 100%;
    height: 6rem;
    text-align: center;
    background: white;
    strong {
      font-size: 2.5rem;
      line-height: 6.5rem;
      font-weight: 450;
      opacity: 0.8;
      color: black;
    }
  }
  &-wrapper {
    width: 100%;
    &-form {
      width: 28rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      &-fullname {
        @include setSize(100%, 5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        &-firstname,
        &-lastname {
          @include setSize(48%);
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          &-box {
            position: relative;
            height: 3.8rem;
            transition: 0.3s;
            border-radius: 0.6rem;
            span {
              position: absolute;
              top: 1rem;
              left: 1rem;
              font-size: 1rem;
              transition: 0.15s ease;
              pointer-events: none;
              &.active {
                top: 0.2rem;
                font-size: 0.8rem;
              }
            }
            input {
              @include setSize();
              @include reset_Input_Text();
              padding-top: 1.1rem;
              padding-left: 1rem;
              font-size: 1.1rem;
              border-radius: 0.6rem;
              background-color: white;
              border: 1px solid $leaf-gray;
              transition: 0.15s;
              &.active {
                box-shadow: -1px -1px 3px $lite-blue, 1px -1px 3px $lite-blue, -1px 1px 3px $lite-blue,
                  1px 1px 3px $lite-blue;
                border: 1px solid $lite-blue;
              }
            }
          }
          span {
            font-size: 1rem;
            margin-top: 0.3rem;
          }
        }
      }
      &-birthday,
      &-email,
      &-password,
      &-confirmPassword,
      &-phone {
        width: 100%;
        margin-top: 1rem;
        &-box {
          @include setSize(100%, 5rem);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &-mainbox {
            @include setSize(100%, 3.8rem);
            background: white;
            position: relative;
            transition: 0.3s;
            border-radius: 0.6rem;
            span {
              position: absolute;
              top: 1rem;
              left: 1rem;
              font-size: 1rem;
              z-index: 20;
              transition: 0.15s ease;
              &.active {
                top: 0.2rem;
                font-size: 0.8rem;
                ~ input {
                  color: black;
                }
              }
            }
            input {
              @include setSize();
              @include reset_Input_Text();
              padding-top: 1.1rem;
              padding-left: 1rem;
              font-size: 1.1rem;
              border-radius: 0.6rem;
              background-color: white;
              border: 1px solid $leaf-gray;
              color: white;
              cursor: text;
              position: relative;
              &.active {
                box-shadow: -1px -1px 3px $lite-blue, 1px -1px 3px $lite-blue, -1px 1px 3px $lite-blue,
                  1px 1px 3px $lite-blue;
                border: 1px solid $lite-blue;
                &::after {
                  height: 0;
                }
              }
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0.1rem;
                transform: translateY(-50%);
                @include setSize(2rem, 2.4rem);
                background: white;
                transition: 0.2s;
              }
            }
          }
          span {
            font-size: 1rem;
            margin-top: 0.3rem;
            pointer-events: none;
          }
        }
      }
      &-email {
        &-box {
          height: 6.5rem;
        }
      }
      &-phone {
        &-box {
          &-mainbox {
            &::after {
              content: "";
              position: absolute;
              height: 2.4rem;
              width: 2rem;
              top: 1rem;
              right: 0.1rem;
              background: white;
            }
          }
        }
      }
      &-verify {
        @include setSize(100%, 2rem);
        margin-top: 1rem;
        &-box {
          span {
            font-size: 1rem;
          }
          input {
            margin-left: 1.5rem;
          }
          label {
            margin-left: 0.3rem;
            font-size: 1rem;
          }
        }
      }
      &-submit {
        @include setSize(100%, 4rem);
        margin-top: 0.5rem;
        button {
          @include setSize();
          border: none;
          outline: none;
          border-radius: 0.6rem;
          background: $cadet-blue;
          transition: 0.3s;
          transition-delay: 0.1s;
          font-size: 1.3rem;
          color: white;
          cursor: pointer;
          &:hover {
            background: $st-green;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  * {
    font-size: 18px;
  }
  .container {
    height: 58rem;
  }
}

@media screen and (max-width: 1050px) {
  * {
    font-size: 18px;
  }
  .container {
    height: 73rem;
    padding: 10rem 0;
    &-wrapper {
      &-form {
        width: 40rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  * {
    font-size: 18px;
  }
  .container {
    height: 58rem;
    padding: 2rem;
    &-wrapper {
      &-form {
        width: 33rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  * {
    font-size: 15px;
  }
  .container {
    height: 58rem;
    padding: 2rem;
    &-title {
      strong {
        font-size: 2rem;
      }
    }
    &-wrapper {
      &-form {
        width: 28rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  * {
    font-size: 15px;
  }
  .container {
    height: 58rem;
    padding: 2rem;
    &-title {
      strong {
        font-size: 2rem;
      }
    }
    &-wrapper {
      &-form {
        width: 23rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  * {
    font-size: 14px;
  }
  .container {
    height: 58rem;
    padding: 2rem;
    &-title {
      strong {
        font-size: 2rem;
      }
    }
    &-wrapper {
      &-form {
        width: 22rem;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  * {
    font-size: 13px;
  }
  .container {
    height: 58rem;
    padding: 1.5rem;
    &-title {
      strong {
        font-size: 1.5rem;
      }
    }
    &-wrapper {
      &-form {
        width: 22rem;
      }
    }
  }
}
