/**
* Landing Page Variables
*/
// Header's Variables
$header-width: 100%;
$header-height: 3.75rem;

// Hamburger Toogle Size
$hamburger-size: 30px;

// Navigation Bar Size
$navbar-width: 50%;
$navbar-height: 100%;

// Logo Size
$logo-size: 2.8125rem;

// Sign in Button Size
$btn-signin-width: 7rem;
$btn-signin-height: 2.8125rem;
$btn-signin-width-res: 4rem;
$btn-signin-height-res: 2.5rem;

// SearchBar Size
$search-bar-width: 100%;
$search-bar-height: 3.75rem;

// Language Link Size
$lang-width: 3.5rem;
$lang-height: 2rem;

// Dropdown Menu Size
$submenu-width: 300px;
$submenu-height: 20rem;
$submenu-height-res: 18rem;

// Font size for Text
$text-sm-size: 0.875rem;
$text-st-size: 1rem;
$text-md-size: 1.25rem;
$text-lg-size: 1.4375rem;
$text-slg-size: 1.8rem;

// Footer Size
$footer-height: 250px;
$footer-height-res: 280px;

//ProductAd on Main Content

//Suggestion
$suggestion-width: 32%;
$suggestion-height: 25%;

//Suggestion Links
$suggestion-links-width: 100%;
$suggestion-links-height: 40%;
